.btn {
  position: fixed;
  bottom: 30px;
  right: 60px;
  background: black;
  color: whitesmoke;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  .arrow {
    font-size: 3em;
  }
}
.btn:hover {
  color: #006400;
}
.btn:focus {
  outline: none;
}