.btn {
  position: fixed;
  bottom: 30px;
  @media only screen and (max-width: 426px) {
    right: 30px;
  }
  right: 60px;
  background: black;
  color: whitesmoke;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  .arrow {
    font-size: 3em;
  }
}
.btn:hover {
  color: #E55B13;
}
.btn:focus {
  outline: none;
}