.homepage {
  .menu {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    left: 20%;
    .link,
    .link::after,
    .link:visited {
      text-decoration: none;
      cursor: pointer;
      padding-bottom: 10%;
      font-family: "JetBrains Mono", monospace;
      font-weight: 800;
    }
    .color {
      color: #000;
    }
    .labelHello:hover {
      visibility: hidden;
    }
    .labelHello:hover::after {
      visibility: visible;
      content: "About";
      color: #ff4500;
    }
    .labelHello::after {
      visibility: visible;
      content: "Hello.";
    }
    .labeliam:hover {
      visibility: hidden;
    }
    .labeliam:hover::after {
      visibility: visible;
      content: "Work";
      color: #ff4500;
    }
    .labeliam::after {
      visibility: visible;
      content: "I am";
    }
    .labelName:hover {
      visibility: hidden;
    }
    .labelName:hover::after {
      visibility: visible;
      content: "Contact";
      color: #ff4500;
    }
    .labelName::after {
      visibility: visible;
      content: "Hieu Nguyen";
    }
    .hover {
      font-size: 50px;
      transition-property: all;
      transition-duration: 0.4s;
      transition-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
      transition-delay: 0s;
    }
    .hover:hover {
      font-size: 100px;
    }
  }
  .bgphoto {
    background-image: url(../files/dalat.jpg);
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0%;
    z-index: -9;
    opacity: 0.75;
  }
}

.about {
  width: 100%;
  overflow: hidden;
  .bgphoto {
    background-image: url(../files/dalat.jpg);
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0%;
    z-index: -9;
    opacity: 0.4;
  }
  .maxWidth {
    margin-right: auto;
    margin-left: auto;
    max-width: 60%;
    .topBottomMargin {
      margin-top: 35vh;
      margin-bottom: 20vh;
      .hideTextBlock {
        position: relative;
        display: block;
        overflow: hidden;
        .h2 {
          font-family: "JetBrains Mono", monospace;
          line-height: 140%;
          font-size: 5em;
        }
      }
      .img {
        width: 80vw;
        height: 90vh;
        overflow: hidden;
        margin-top: 35vh;
        margin-bottom: 15vh;
      }
      .img img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
      .maxWidth70 {
        max-width: 70%;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        text-align: left;
        .fontLarge {
          font-family: "JetBrains Mono", monospace;
          font-weight: 500;
          line-height: 200%;
          font-size: 22px;
          margin-bottom: 4vh;
          color: #ff4500;
        }
        .text {
          font-family: "JetBrains Mono", monospace;
          font-weight: 500;
          font-size: 18px;
          line-height: 200%;
        }
        .fontLarge a {
          color: #ff4500;
        }
        .text a {
          color: #ff4500;
        }
      }
    }
  }
}

.contact {
  width: 100%;
  overflow: hidden;
  .bgphoto {
    background-image: url(../files/dalat.jpg);
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0%;
    z-index: -9;
    opacity: 0.4;
  }
  .maxWidth {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 60%;
    .topBottomMargin {
      margin-top: 35vh;
      margin-right: 0px;
      margin-bottom: 30vh;
      margin-left: 0px;
      .hideTextBlock {
        position: relative;
        display: block;
        overflow: hidden;
        .h2 {
          font-family: "JetBrains Mono", monospace;
          line-height: 140%;
          font-size: 4em;
        }
      }
      .img {
        width: 100vw;
        height: 90vh;
        overflow: hidden;
        margin: 30vh 0;
      }
      .img img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
      .maxWidth70 {
        max-width: 80%;
        margin-top: 10%;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        text-align: left;
        .workBlock {
          margin-top: 7.5%;
          margin-bottom: 7.5%;
          a {
            text-decoration: none;
          }
          .projName {
            font-family: "JetBrains Mono", monospace;
            line-height: 160%;
            font-size: 30px;
            color: #000;
            transition-property: all;
            transition-duration: 0.4s;
            transition-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
            transition-delay: 0s;
          }
          .projName:hover {
            font-size: 40px;
          }
          .projDesc {
            font-family: "JetBrains Mono", monospace;
            font-weight: 200;
            font-size: large;
            color: #ff4500;
          }
        }
        .fontLarge {
          font-family: "JetBrains Mono", monospace;
          font-weight: 500;
          line-height: 200%;
          font-size: 22px;
          margin-bottom: 4vh;
          color: #ff4500;
        }
        .text {
          font-family: "JetBrains Mono", monospace;
          font-weight: 500;
          font-size: 18px;
          line-height: 200%;
        }
        .icons {
          margin-top: 10%;
          display: flex;
          justify-content: space-around;
          .icon {
            color: #353535;
            font-size: 3em;
            cursor: pointer;
            transition-property: all;
            transition-duration: 0.4s;
            transition-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
            transition-delay: 0s;
          }
          .icon:hover {
            font-size: 5em;
            color: #ff4500;
          }
        }
      }
    }
  }
}
