.logo {
  float: right;
  .logoInner {
    position: fixed;
    top: 10%;
    @media only screen and (max-width: 426px) {
      left: 70%;
    }
    z-index: 999;
    font-size: 2em;
    a {
      text-decoration: underline;
      font-family: "JetBrains Mono", monospace;
      font-weight: 800;
      color: #e55b13;
    }
    .labelHomepage::before {
      content: "";
    }
    @media only screen and (min-width: 425px) {
      .labelHomepage::after {
        content: "Homepage.";
      }
    }
    @media only screen and (max-width: 426px) {
      .labelHomepage::after {
        content: ".home";
      }
    }
  }
}
