.logo {
  float: right;
  .logoInner {
    position: fixed;
    top: 10%;
    z-index: 999;
    font-size: 1.5em;
    a {
      text-decoration: none;
      // font-size: 1.5em;
      font-family: "JetBrains Mono", monospace;
      color: #353535;
    }
    .labelHomepage::before {
      content: "";
    }
    .labelHomepage:hover::before {
      content: "back to ";
      font-size: 0.75em;
    }
    .labelHomepage::after {
      content: "Homepage.";
    }
    .animation {
      animation-duration: 0.6s;
      animation-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: backwards;
      animation-play-state: running;
      animation-name: fadelogo;
    }
    .hover {
      transition-property: all;
      transition-duration: 0.4s;
      transition-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
      transition-delay: 0s;
    }
    .hover:hover {
      color: #006400;
    }
  }
}
